<div class="mat-elevation-z8">
	<table [dataSource]="dataSource"
		(matSortChange)="announceSortChange($event)"
		mat-table
		matSort
	>
		>
		<div *ngFor="let column of studentService.displayedColumns">
			<ng-container [matColumnDef]="column">
				<th *matHeaderCellDef
					mat-header-cell
					mat-sort-header
					sortActionDescription="Sort by column"
				>
					{{column}}
				</th>
				<td *matCellDef="let element"
					mat-cell
				>
					{{element[column]}}
				</td>
			</ng-container>
		</div>

		<tbody>
			<tr *matHeaderRowDef="studentService.displayedColumns"
				mat-header-row
			></tr>
			<tr *matRowDef="let row; columns: studentService.displayedColumns;"
				mat-row
			></tr>
		</tbody>
	</table>





	<mat-paginator [pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
	>
	</mat-paginator>
</div>
